# Google Cloud Config
PROJECT_ID="your-project-id"

# Gemini Enterprise Config
GE_LOCATION="global"  # Location for Gemini Enterprise API & Metrics Export ('global', 'us', or 'eu')
ENGINE_ID="your-discovery-engine-id"  # Browse to Gemini Enterprise > Apps in GCP Console to get App/Engine ID

# BigQuery Analytics Config
BQ_LOCATION="US"      # Multi-region location for BigQuery Dataset storage ('US' or 'EU')
DATASET_ID="gemini_analytics"

# Log Sink Config
SINK_NAME="gemini_agent_creators"
USAGE_SINK_NAME="gemini_usage_activity_sink"